.center {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.9); /* Semi-transparent white background */
    z-index: 1000;
    transition: opacity 2s ease, visibility 2s ease; /* Add transition for opacity and visibility */
    opacity: 1;
    visibility: visible; /* Initially set to visible */
}

.wave {
    width: 5px;
    height: 100px;
    background: maroon;
    margin: 10px;
    animation: wave 1s linear infinite;
    border-radius: 20px;
}

.wave:nth-child(2) {
    animation-delay: 0.1s;
}

.wave:nth-child(3) {
    animation-delay: 0.2s;
}

.wave:nth-child(4) {
    animation-delay: 0.3s;
}

.wave:nth-child(5) {
    animation-delay: 0.4s;
}

.wave:nth-child(6) {
    animation-delay: 0.5s;
}

.wave:nth-child(7) {
    animation-delay: 0.6s;
}

.wave:nth-child(8) {
    animation-delay: 0.7s;
}

.wave:nth-child(9) {
    animation-delay: 0.8s;
}

.wave:nth-child(10) {
    animation-delay: 0.9s;
}

@keyframes wave {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

/* Additional styles for the content */
.content {
    position: relative;
    z-index: 2;
    transition: opacity 2s ease; /* Add a transition for opacity */
    opacity: 2s; /* Initially set to fully transparent */
}
